body{
  background-color: #e6ecf3;
}
ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  background-color: #e6ecf3;
  font-size: 1.7em;
}

li {
  float: left;
}
.div-father{
  text-align: center;
}

li a {
  display: block;
  color: #2d6b22;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c4e199;
}
.rounder-div{
  margin-top: 2%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.nav ul {
  display: inline-block;
  list-style-type: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #2d6b22;
  color: white;
  text-align: center;
}