body{
  background-color: #e6ecf3;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #e6ecf3;
  font-size: 1.7em;
}
table{
  width: 100%; 
  border-collapse: collapse; 
}
.divider {
  width: 70vw;
  height:2px;
  border: 0;
  display: inline-table;
  border-top: 1px solid #bbb;
}

li {
  float: left;
}
.div-father{
  text-align: center;
}

li a {
  display: block;
  color: #2d6b22;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c4e199;
}
.rounder-div{
  margin-top: 2%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.nav ul {
  display: inline-block;
  list-style-type: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #2d6b22;
  color: white;
  text-align: center;
}
.non-float{
  float: unset;
}
.font-style{
  
}
.technologies-size{
  width: 80px;
  height: auto;
}
.technologies-table{
  margin-left: auto;
   margin-right: auto;
}
.technologies-tr{
  display: table;
}